@use "sass:map";

// Light theme
$colors-light: (
	text: #0f1419,
	mut: rgb(83, 100, 113),
	bg: #ffffff,
	bg2: #ffffff,
	card-bg: #ffffff,
	navbar-hover: #e7e7e8,
	navbar-active: #0000,
	link: #1d9bf0,
	border-light: #eff3f4,
);

// Dark theme
$colors-dark: (
	text: #fff,
	mut: rgb(113, 118, 123),
	bg: #000000,
	bg2: #010101,
	card-bg: #000000,
	navbar-hover: #181818,
	navbar-active: #0000,
	link: #1d9bf0,
	border-light: #2f3336,
);

@mixin theme-colors($property, $light-color, $dark-color) {
	#{$property}: $dark-color;

	@media (prefers-color-scheme: light) {
		#{$property}: $light-color;
	}
}

@mixin theme-color($property, $name) {
	$light: map.get($colors-light, $name);
	$dark: map.get($colors-dark, $name);
	@include theme-colors($property, $light, $dark);
}

$text-color: map.get($colors-dark, text);
$bg-color: map.get($colors-dark, bg);
$bg2-color: map.get($colors-dark, bg2);
$border-color: map.get($colors-dark, border-light);
