@use "sass:map";
@use "./var" as *;

@font-face {
	font-family: "gg sans";
	src: url("/assets/fonts/ggsans.woff2") format("woff2");
}

html,
body {
	background-color: $bg-color;
	margin: 0;
	padding: 0;
	font-family: "gg sans";
	font-weight: 600;
	user-select: none;

	@media (prefers-color-scheme: light) {
		background-color: map.get($colors-light, bg);
	}
}

a {
	color: map.get($colors-dark, link);
	transition: color 0.2s ease;

	@media (prefers-color-scheme: light) {
		color: map.get($colors-light, link);
	}

	&:hover:not(#navbar-root a) {
		color: lighten(map.get($colors-dark, link), 20%);

		@media (prefers-color-scheme: light) {
			color: darken(map.get($colors-light, link), 15%);
		}
	}
}
