@use "../../styles/_var" as *;

.card {
	display: flex;
	align-items: center;
	padding: 0 20px;
	background-color: #0c0c0e;
	border-radius: 8px;
	border: 1px solid $border-color;
	width: 100%;
	box-sizing: border-box;
	color: $text-color;
}
