@use "sass:map";
@use "../styles/_var" as *;

.root {
	display: flex;
	flex-direction: row;
	min-height: 100dvh;
	width: 100%;
	max-width: 1200px;
	margin: auto;
	@include theme-color(background-color, bg2);
	border-left: 1px solid map.get($colors-dark, border-light);
	border-right: 1px solid map.get($colors-dark, border-light);
	overflow-x: clip;

	@media (prefers-color-scheme: light) {
		border-left-color: map.get($colors-light, border-light);
		border-right-color: map.get($colors-light, border-light);
	}
}

.content {
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 0;
	will-change: transform;
}

.feed {
	display: flex;
	flex-direction: column;
	padding: 10px 10px 300px 10px;
	gap: 10px;
}

@media (max-width: 768px) {
	.root {
		flex-direction: column;
		min-height: 100dvh;
		border: none;
	}
}
